/* common styles */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

p {
    color: #534C64;
    font-size: 18px;
}

.primary-btn {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}


/* header styles */

header {
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
}

nav {
    min-height: 130px;
}

nav,
ul,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    padding: 0;
    list-style: none;
}

nav ul li a,
.follow-us a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
}

.logo h2 {
    font-size: 45px;
    color: #0B0223;
    padding-left: 20px;
}

.logo h2 span {
    color: #FF42A5;
}

nav>ul>li {
    padding: 54px 32px;
}

.follow-us {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 28px 16px;
}

.follow-us a {
    padding: 16px;
}

/* banner styles */
.top-banner {
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.half-width h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.half-width h1 {
    font-size: 95px;
    color: #F948B2;
    font-weight: 800;
}

.half-width p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
}

.sign-in-btn {
    margin-top: 20px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: white;
    margin-right: 24px;
}

.go-rouge-btn {
    color: white;
    background-color: #4EC5F7;
}


/* online games styles */
.online-games {
    margin-top: 120px;
    text-align: center;
}

.online-games h2 {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 16px;
}

.online-games h2 span {
    color: #8758F1;
}

.online-games p {
    font-size: 18px;
    margin-bottom: 48px;
}

.game-boxes {
    display: flex;
    gap: 24px;
}

.box img {
    width: 100%;
    margin-bottom: 24px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
}


.box {
    width: 342px;
    height: 450px;
    text-align: start;
    position: relative;
}

.box .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box:hover img {
    opacity: 0.3;
}

.box:hover .middle {
    opacity: 1;
}

.box .text {
    font-size: 48px;
    padding: 16px 32px;
}

.box .text p {
    font-size: 16px;
    color: #FF42A5;
}




/* play games styles */
.play-games {
    margin-top: 120px;
    min-height: 550px;
    display: flex;
    margin-bottom: 180px;
    align-items: center;
    justify-content: center;
}

.responsive-img {
    display: none;
}


.game-images {
    width: 65%;
    display: flex;
}

.game-img1 {
    z-index: -99;
    position: absolute;
    margin-bottom: 150px;
}

.game-img2 {
    position: relative;
    z-index: 1;
    margin-top: 415px;
    margin-left: 550px;
}

.game-play-text {
    width: 35%;
    align-items: center;
    padding-left: 100px;
}

.game-play-text h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.game-play-text h2 span {
    color: #F948B2;
}

/* game button syles */
.game-button {
    margin-bottom: 120px;
}

.btn-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

.btn-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-box img {
    width: 60px;
    height: 60px;
}

.btn-box:hover {
    border: 2px solid #FF42A5;
}

.btn-box:hover p {
    color: #FF42A5;
}


.btn-box p {
    font-size: 18px;
    font-weight: 600;
    padding-left: 7px;
    color: #0B0223;
}


/* footer styles */
footer {
    background-color: #0B0223;
    text-align: center;
}

.footer {
    padding: 120px 0;
}

.logo-footer {
    display: flex;
    justify-content: center;
}


.logo-footer h2 {
    font-size: 45px;
    color: #ffffff;
    padding-left: 20px;
}

.logo-footer h2 span {
    color: #FF42A5;
}

.footer-ul,
.terms {
    padding: 0;
    list-style: none;
    justify-content: center;
}

.footer-ul li,
.terms li {
    padding: 60px 30px;
}

.footer-ul li a,
.terms li a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    padding: 0;
    list-style: none;
    justify-content: center;
}

.footer-logo li {
    padding: 0 40px;
    justify-content: center;
}

.footer-logo li a {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.terms li a {
    color: rgba(255, 255, 255, 0.60);
}

.footer small {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}



/* responsive design */
@media only screen and (max-width: 768px) {
    .top-banner {
        background-image: none;
    }

    .container {
        width: 100%;
    }

    header {
        margin: 50px auto;
    }

    nav,
    ul,
    .logo {
        display: block;
        text-align: center;
    }

    nav>ul>li {
        padding: 24px 50px;
    }

    .banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .half-width {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .game-boxes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .online-games {
        padding: 20px;
    }


    .play-games {
        flex-wrap: wrap;
    }


    .game-images {
        display: none;
    }

    .responsive-img {
        display: block;
        padding: 25px;
    }

    .responsive-img img {
        width: 100%;
    }


    .game-play-text {
        width: 100%;
        padding-left: 0;
        padding: 0 50px;
        text-align: center;
    }


    .footer {
        padding: 50px 0;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
    }



    .footer-ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .footer-ul li {
        padding: 20px 10px;
    }

    .footer-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    .footer-logo li {
        padding: 20px 10px;
        justify-content: center;
    }


    .terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .terms li {
        padding: 30px 15px;
    }




}